{% extends 'AppProjectBundle:Project:layout.html.twig' %}

{% set nav_title = 'Project owner' %}

{% block actions_main %}

    <div class="action-view">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-9">

                        Owner

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block user_js %}
    
{% endblock %}