<div style="height:15px"></div>
<div style="margin:10px;" nobr="true">
    <div>{{ 'message_in_project_contract_signature'|trans({}, 'Project') }}:</div>
    <div style="height:50px">&nbsp;</div>

    <table style="width:100%;">
        <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>________________________________________________</td>
        <td>________________________________________________</td>
    </tr>
    <tr>
        <td>{{ 'contract_signature_client'|trans({}, 'Project') }}</td>
        <td>{{ 'contract_signature'|trans({}, 'Project') }}</td>
    </tr>
    </table>
</div>
