{% extends 'AppProjectBundle:Project:layout.html.twig' %}

{% set nav_title = 'Project task owner' %}

{% block actions_main %}
    <div class="action-view">
		Task owner
    </div>
{% endblock %}

{% block user_js %}
    
{% endblock %}