{% extends 'AppProjectBundle:Project:layout.html.twig' %}

{% set nav_title = 'Task assigned' %}

{% block actions_main %}
    <div class="action-view">
		Task assigned
    </div>
{% endblock %}

{% block user_js %}
    
{% endblock %}