{% extends 'AppAccountProductBundle:AccountProduct:layout.html.twig' %}
{% set nav_title = entity.id ? account~' product edit' : account~' product new' %}

{% block actions_main %}
    <div class="action-view">
        <form class="form-horizontal" id="product-form" action="" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <div class="row form-groups">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="form-actions well">
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block user_js %}
    <script src="{{ asset('bundles/appform/form_admin.js') }}" type="text/javascript"></script>
    <script>
        jQuery(function($) {
            Admin.setup_collections(document);

            function onProductTypeChange() {
                var isStockable = $("select[id$='productType'] option:selected").data('stockable');
                if (isStockable) {
                    $('#btn-weight-size').show();
                    $('#btn-stocks').show();
                    $('#tab-weight-size').show();
                    $('#tab-stocks').show();
                } else {
                    $('#btn-weight-size').hide();
                    $('#btn-stocks').hide();
                    $('#tab-weight-size').hide();
                    $('#tab-stocks').hide();
                }
            }
            $("select[id$='productType']").change(onProductTypeChange);
            onProductTypeChange();

            function onCanBeOrderedFromSupplierChange($checkbox) {
                var $suppliers = $("div[id$='_suppliers']").parents('.control-group');
                if ($checkbox.is(':checked')) {
                    $suppliers.show();
                } else {
                    $suppliers.hide();
                }
            }
            var $canBeOrderedFromSupplier = $("input[id$='_canBeOrderedFromSupplier']");
            $canBeOrderedFromSupplier.change(function(e) {
                onCanBeOrderedFromSupplierChange($(e.target));
            });
            onCanBeOrderedFromSupplierChange($canBeOrderedFromSupplier);

            function onEnQtyIncChange($enQtyInc) {
                var $sellQtyUnit = $("input[id$='_sellQtyUnit']").parents('.control-group');;
                if ($enQtyInc.val() == '1') {
                    $sellQtyUnit.show();
                } else {
                    $sellQtyUnit.hide();
                }
            }
            $("ul[id$='_enQtyInc'] input[type=radio]").click(function(e) {
                onEnQtyIncChange($(e.target));
            });
            onEnQtyIncChange($("ul[id$='_enQtyInc'] input:checked"));
        });
    </script>
{% endblock %}