{% extends 'AppUserBundle:User:layout.html.twig' %}
{% set nav_title = 'User overview' %}
{% block actions_main %}
<div class="action-view">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Person</th>
                            <td><a href="{{ path('backend_person_show', {'id': entity.person.id}) }}">{{ entity.person }}</a></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>Enabled</th>
                            <td>
                                {% if entity.enabled %}
                                    <i class="icon-ok"></i>
                                {% else %}
                                    <i class="icon-ban-circle"></i>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

