{% extends 'AppTaskBundle:TaskPreset:layout.html.twig' %}

{% block actions_main %}
<div class="action-view">
    <div class="row">
        <div class="row-align">
            {% include 'AppTaskBundle:Task:indexBase.html.twig' with {'isPresetTaskList': true} %}
        </div>
    </div>
</div>
{% endblock %}

{% block user_js %}
    <script type="text/javascript" src="{{ asset('tabletools/js/ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tabletools/js/TableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tabletools/js/paging.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appbackend/js/table.js') }}"></script>
{% endblock %}