{% extends 'AppTaskBundle:TaskPreset:layout.html.twig' %}
{% set nav_title = 'Task preset show' %}

{% block actions_main %}
<div class="action-view">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    {% include 'AppTaskBundle:Task:showBase.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}