{% extends 'AppBackendBundle:Settings:layout.html.twig' %}

{% block actions %}

    {% block actions_nav_block %}
        {% set nav_title = nav_title|default('Groups') %}
        {% set route_prefix = 'backend_settings_groups' %}
        {% include 'AppBackendBundle:Settings:nav.html.twig' %}
    {% endblock %}

    {% block actions_main %}{% endblock %}

{% endblock %}

{#{% block bottom %}#}
    {#<div class="tab-content">#}
        {#<div class="tab-pane active">#}
            {#<ul class="nav nav-pills">#}
                {#<li class="#}
                    {#{% if app.request.attributes.get('_route')|slice(0,23)=='backend_settings_groups'%}#}
                        {#active#}
                    {#{%endif%}"><a href="{{ path('backend_settings_groups') }}">Groups</a></li>#}
                {#<li class="#}
                    {#{% if app.request.attributes.get('_route')|slice(0,21)=='backend_settings_user'%}#}
                        {#active#}
                    {#{%endif%}"><a href="{{ path('backend_settings_user') }}">Users</a></li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}